.App {
  text-align: justify;
  margin: 1.5rem;
}

.h2 {
  padding: 1rem;
  font-size: larger;
}

.background-image {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

.success {
  padding: 1rem;
  color: green;
}

.failure {
  padding: 1rem;
  color: red;
}
